<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.bme3890.lupuslabs">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Lupus Labs"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="edu.bme3890.lupuslabs.AboutUsActivity"
            android:parentActivityName="edu.bme3890.lupuslabs.MainActivity" />
        <activity
            android:name="edu.bme3890.lupuslabs.ForgotPasswordActivity"
            android:parentActivityName="edu.bme3890.lupuslabs.MainActivity" />
        <activity
            android:name="edu.bme3890.lupuslabs.CreateAccountActivity"
            android:parentActivityName="edu.bme3890.lupuslabs.MainActivity" />
        <activity
            android:name="edu.bme3890.lupuslabs.OldTestsActivity"
            android:parentActivityName="edu.bme3890.lupuslabs.MainMenuActivity" />
        <activity
            android:name="edu.bme3890.lupuslabs.NewTestActivity"
            android:parentActivityName="edu.bme3890.lupuslabs.MainMenuActivity" />
        <activity
            android:name="edu.bme3890.lupuslabs.InstructionsActivity"
            android:parentActivityName="edu.bme3890.lupuslabs.MainMenuActivity" />
        <activity
            android:name="edu.bme3890.lupuslabs.MainMenuActivity"
            android:parentActivityName="edu.bme3890.lupuslabs.MainActivity" />
        <activity
            android:name="edu.bme3890.lupuslabs.EmailActivity"
            android:parentActivityName="edu.bme3890.lupuslabs.OldTestsActivity" />
        <activity
            android:name="edu.bme3890.lupuslabs.GraphActivity"
            android:parentActivityName="edu.bme3890.lupuslabs.MainMenuActivity" />
        <activity android:name="edu.bme3890.lupuslabs.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>